html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas;
}
body {
  flex-direction: row;
}
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical {
  flex-direction: column;
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
}
.hide {
  display: none !important;
}
.disabled {
  opacity: 0.5;
}

/**
 * Loading animation
 */

.loading {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background: #FFFFFF;
}
.loading-image {
  background-image: url("../assets/otter.png");
  background-repeat: no-repeat;
  height: 180px;
  width: 200px;
}
.loading-text {
  display: flex;
}
.loading-text div {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
.point2 {
  animation-delay: 0.2s;
}
.point3 {
  animation-delay: 0.4s;
}
@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/**
 * Console
 */

.interactive-content-container {
  position: relative;
  width: 224px;
  height: 600px;
  overflow: visible;
}
.interactive-content {
  background: #002B36;
  color: #EEE8D5;
  width: 224px;
  height: 600px;
  position: absolute;
  right: 0;
  transition: box-shadow 0.5s, width 1s;
  transition-timing-function: ease-in-out;
}
.interactive-content.maximized {
  width: 500px;
  box-shadow: -5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.interactive-header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
  border-bottom: 1px solid #EEE8D5;
  background: #001E26;
}
.interactive-header button {
  background: transparent;
  color: #EEE8D5;
  border: none;
  cursor: pointer;
  outline: none;
}
.disabled .interactive-header button {
  cursor: default;
}
.disabled .interactive-header button:hover {
  background: #001E26;
}
.interactive-header button:hover {
  background: #003D4D;
}
.console {
  padding: 0 3px;
}
.console-line {
  margin: 0;
}
.console-input {
  display: flex;
}
.console-input .prompt {
  margin-right: 10px;
}
.console-input textarea {
  flex-grow: 1;
  background: inherit;
  border: none;
  outline: none;
  color: inherit;
  resize: none;
}
